            <p>These are two potential applications to be made by our developers. Please let us know your thoughts on if you would use it. Thanks for visiting!</p>
<img class="img-responsive" src="img/DankeRose.jpg" height="600px" width="800px" alt="cups">