        <div class="col-xs-12 col-md-6">
			<blockquote>"Do I like dogs? ... yes" - Ryan Zahm</blockquote>
			<h3>Ready for the web app that will bring dogs to your device?</h3>
			<h2>It's coming. It's...</h2>
			<h1>Dggy4U</h1>
			<img class="img-responsive" src="img/800px-Aaluna.jpg" height="600px" width="800px" alt="dog">
        </div>
        <div class="col-xs-12 col-md-6">
			<blockquote>"You need it. You need it." - Brandon Bielicki</blockquote>
			<h3>Ready for the web app that can make your next party <b>LEGENDARY</b>?</h3>
			<h2>It's coming. It's...</h2>
			<h1>TipCupp</h1>
			<img class="img-responsive" src="img/cups.JPG" height="600px" width="800px" alt="cups">
        </div>