<html>
    <body>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <blockquote>"You need it. You need it." - Brandon Bielicki</blockquote>
        <h3>Ready for the web app that can make your next party <b>LEGENDARY</b>?</h3>
        <h2>It's coming. It's...</h2>
        <h1>TipCupp</h1>
        <img src="img/cups.JPG" height="600px" width="800px" alt="cups">
        <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>