body{
	background-color:#d0d0f1;
}

blockquote{
	background-color: #3498db;
	padding: .5em 0;
    	text-emphasis: italic;
	text-align:center;
	color:#FFFFFF;
}


h1, p, h2, h3{
	margin:0;
    	text-align: center;
	padding:0;
}

img{
    	margin:10% auto;
    	display: block;
    	border: thin solid; 
}

header{
    color: blue;
    background: #FFC04C;
    padding: 1em 0;
}